{% extends 'base.html.twig' %}
{% block body %}
      <a class="nav-link" href="{{ path('app_maps') }}">
                         
                            <p>Home</p>
                        </a>

{% endblock %}
    {% block javascripts %}
    
    {% endblock %}